<aside class="site-sidebar">
    <div class="gh-search-box flex justify-between">
        <input placeholder="输入关键字搜索" class="search-text" type="text">
        <div class="btn-search">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-search"></use>
            </svg>
        </div>
    </div>
    <div class="gh-sidebar-section">
        <div class="section-head">标签云</div>
        <div class="section-content">

        </div>
    </div>
    <div class="gh-sidebar-section">
        <div class="section-head">热门文章</div>
        <div class="section-content">

        </div>
    </div>
    <div class="gh-sidebar-section">
        <div class="section-head">近期公告</div>
        <div class="section-content">

        </div>
    </div>
    <div class="gh-sidebar-section">
        <div class="section-head">实验室</div>
        <div class="section-content">

        </div>
    </div>
</aside>