{{!< default}}

<div class="container mx-auto">
    <div class="float-left w-full lg:w-9/12 ">
        toolsdd
    </div>
    <div class="float-right w-full lg:w-3/12 lg:pl-3">
        {{> "sidebar"}}
    </div>
    <div class="clear-both"></div>
</div>