@import "./_mixins.less";

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.site-header {
    height: 60px;
    position: relative;
    background: #fff;
    border-bottom: solid 1px @color-border;
    .logo {
        height: 60px;
        .flex-center();
        font-size: 18px;
    }

    .menu {
        position: absolute;
        top: 80px;
        right: 10px;
        padding: 5px 0;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
        border: solid 1px @color-border;
        .response(@break-large,{
            position: static;
            background: none;
            padding: 0;
            border: none;
            box-shadow: none;
            display: block!important;
            opacity: 1!important;
        });
    }
    .nav {
        .response(@break-large,{
            .flex-center()
        });
    }
    li {
        text-align: center;
        .response(@break-large,{
            height: 60px;
            line-height: 60px
        });
        a {
            padding: 0 20px;
            height: 32px;
            line-height: 32px;
        }
        &:hover {
            color: @color-primary;
            border-bottom: solid 1px @color-primary;
            transition: all 0.2s ease;
        }
    }
    .nav-current {
        color: @color-primary;
        border-bottom: solid 1px @color-primary;
    }
    .btn-menu {
        height: 60px;
    }
}
