.flex-h-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-v-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.flex-v-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.price-common {
  color: #1e9fff;
}
body {
  background: #f8f8f8;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.site-header {
  height: 60px;
  position: relative;
  background: #fff;
  border-bottom: solid 1px #e8e9e7;
}
.site-header .logo {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}
.site-header .menu {
  position: absolute;
  top: 80px;
  right: 10px;
  padding: 5px 0;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  border: solid 1px #e8e9e7;
}
@media screen and (min-width: 1024px) {
  .site-header .menu {
    position: static;
    background: none;
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block!important;
    opacity: 1!important;
  }
}
@media screen and (min-width: 1024px) {
  .site-header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.site-header li {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .site-header li {
    height: 60px;
    line-height: 60px;
  }
}
.site-header li a {
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
}
.site-header li:hover {
  color: #1e9fff;
  border-bottom: solid 1px #1e9fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.site-header .nav-current {
  color: #1e9fff;
  border-bottom: solid 1px #1e9fff;
}
.site-header .btn-menu {
  height: 60px;
}
.site-footer {
  background: #fff;
  text-align: center;
  height: 60px;
  line-height: 60px;
  color: #999;
}
.site-sidebar {
  margin-top: 10px;
}
.gh-search-box {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
}
.gh-search-box .search-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: solid 1px #e8e9e7;
  outline: 0;
  padding: 0 10px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
}
.gh-search-box .btn-search {
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #e8e9e7;
  margin-left: 5px;
  border-radius: 3px;
}
.gh-sidebar-section {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.gh-sidebar-section .section-head {
  border-bottom: 1px solid #e8e9e7;
  width: 100%;
  color: #666;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.gh-sidebar-section .m-tag-card__link {
  display: inline-block;
  margin: 0 6px 5px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #f5f5f5;
  height: 22px;
  line-height: 22px;
  color: #666;
  padding: 0 5px;
  border: 1px solid #e8e9e7;
  font-size: 12px;
}
.gh-sidebar-section .m-featured-article__title {
  color: #666;
}
.gh-sidebar-section .friends-link {
  display: inline-block;
  width: 45%;
  margin: 0 6px 5px 0;
  font-size: 12px;
  color: #666;
  padding: 2px 0;
  text-align: center;
  border-bottom: solid 1px #e8e9e7;
}
.gh-card {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.gh-card:first-child {
  margin-top: 10px;
}
.gh-article-main {
  background: #fff;
  margin-top: 10px;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.gh-readmore {
  margin-top: 15px;
}
.gh-readmore .label {
  background-color: #eee;
  padding: 4px 8px;
  font-size: 12px;
  color: #666;
}
.gh-card-meta {
  color: #666;
}
.gh-tools-main {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  margin: 10px 0;
}
.gh-tools-section {
  background: #fff;
  padding: 15px 5px 10px 5px;
}
.gh-tools-section .head {
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 10px;
}
.gh-tools-section .item-box {
  padding: 5px 5px;
}
.gh-tools-section .item {
  display: block;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid #e4ecf3;
  -webkit-box-shadow: 1px 2px 3px #f2f6f8;
          box-shadow: 1px 2px 3px #f2f6f8;
}
.gh-tools-section .item .title {
  font-size: 14px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gh-tools-section .item .desc {
  color: gray;
  font-size: 12px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
